* {
    background-color: #f3f3f3;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
    font-size: 16px;
    font-weight: 600;

}

.App {
    padding: 20px;
}

.app-container {
    display: flex;
    width: 100%;
}

.matrix-container {
    display: flex;
    width: 30%;
}

.saved-values-container {
    display: flex;
    width: 70%;
}
